@model IEnumerable<jg739415MIS4200.Models.VehicleDetails>

@{
    ViewBag.Title = "Vehicle Details";
}

<h2>Vehicle Details</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seller.sellerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.vehicleID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seller.sellerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.vehicleID)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vehicleDetailsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.vehicleDetailsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vehicleDetailsID })
        </td>
    </tr>
}

</table>
